@model WebApplication7.Models.RegisterViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form action="/Account/Login" method="post">
    Username:  <input asp-for="Username" /> <br />
    Email:  <input asp-for="Email" /> <br />
    Password: <input asp-for="Password" /><br />
    <button type="submit">Register</button>
</form>
