@model WebApplication7.Models.User
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form action="/Account/CheckUser" method="post">
    Username:  <input name="txtName" asp-for="Username" /> <br />
    Email:  <input name="txtEmail" asp-for="Email" /> <br />
    Password: <input name="txtPassword" asp-for="Password" /><br />
    <button type="submit">Login</button>
</form>
<h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>
