
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-3">

        <ul>
            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-controller="Account" asp-action="Regis">Register</a></li>
          
        </ul>

    </div>
