@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">

        <ul>
            <li><a asp-controller="Account" asp-action="">Login</a></li>
            <li><a asp-controller="Account" asp-action="Regis">Register</a></li>
            <li><a asp-controller="Book" asp-action="Index">List</a></li>
        </ul>

    </div>
