@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">

        <ul>
            <li><a asp-controller="Book" asp-action="Index">My Books</a></li>
            <li><a asp-controller="Book" asp-action="Index">Books List</a></li>

        </ul>

    </div>
