
@{
    ViewData["Title"] = "Buy";
}

<h2>Purchase</h2>

<form action="/Book/BooksBuy" method="post">
    <h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>

    
    <button type="submit">Buy</button>
</form>
<h2 style="font-style:italic; color:deeppink">@ViewBag.Ava</h2>


