@model WebApplication7.Models.Bought
@{
    ViewData["Title"] = "Buy";
}

<h2>Purchase</h2>
<form action="/Book/BuyBooks" method="post">
    <h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>
    Username: <input name="txtUname" asp-for="UserName" /><br />
    <button type="submit">Buy</button>
</form>

